@font-face	{	font-family	:	'zealotcursiva';
				src 		:	url('../tpl/zealotcoli.ttf');}
@font-face	{	font-family	:	'zeroestwo';
				src			:	url('../tpl/zeroestwo.ttf');}
@font-face	{	font-family	:	'utsaahbold';
				src			:	url('../tpl/utsaahb.ttf');}

#cabecera	{	
				background		:	url('../img/logo.png');
				width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	
	margin-bottom:20px;
				
		
			}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

 body {
    margin: 0;
    padding: 0;
    height: 100%;
}




